<div class="item-container">
  <input appFocus class="input"  [(ngModel)]="address.number" [value]="address.number" (changed)="updateValues($event)" />
  <input appFocus class="input"  [(ngModel)]="address.street" [value]="address.street" />
  <input appFocus class="input"  [(ngModel)]="address.city" [value]="address.city" />
  <input appFocus class="input"  [(ngModel)]="address.zip" [value]="address.zip" />
  <input appFocus class="input"  [(ngModel)]="address.state" [value]="address.state" />
</div>